body {
  background: #382e2e;
}
#showdown {
  position: absolute;
  margin: auto;
  top: 20%;
  right: 0;
  left: 0;
  width: 395px;
  height: 200px;
  border-radius: 3px;
}
.hljs {
  background: transparent;
  font-size: 12pt;
}
#showdown {
  display: none;
}
